.header {
    background-color: var(--white-100);
    height: 144px;
    margin: 0 auto;
    max-width: 1280px;

    section:nth-child(1) {
        height: 32px;
        display: flex;
        gap: 119px;
        align-items: center;
        justify-content: center;
        font-size: 12px;

        div {
            display: flex;
            align-items: center;
            gap: 9px;

            .header__icon {
                display: flex;
            }
        }

        h6 {
            font-weight: 600;
            color: var(--gray-500);

            span {
                font-weight: 600;
                color: var(--pink-500);
            }
        }
    }

    section:nth-child(2) {
        height: 72px;
        border-top: 1px solid var(--white-200);
        border-bottom: 1px solid var(--white-200);
        display: flex;
        justify-content: center;
        align-items: center;

        .inputContainer {
            height: 48px;
            width: 657px;
            background-color: var(--gray-200);
            border-radius: 10px;
            display: flex;
            padding: 10px;
            margin-left: 95px;
            margin-right: 61px;

            input {
                outline: none;
                border: none;
                background-color: var(--gray-200);
                flex: 1;
                padding-left: 10px;
            }
        }

        .iconContainer {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    section:nth-child(3) {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 91px;
        box-shadow: 0px 8px 16px rgba(57, 48, 19, 0.12);

        div:last-of-type {
            display: flex;
            align-items: center;
            gap: 12px;

            span {
                display: flex;
            }
        }

        .active {
            color: var(--pink-500);
        }

        h6 {
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            font-weight: 600;
            color: var(--gray-500);
            text-transform: uppercase;
        }
    }
}

.bannerContainer {
    height: 395px;
    width: 100%;
    mix-blend-mode: normal;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%), url('/assets/images/banner.png');
    background-size: 100% 100%;
    padding: 50px 90px;

    h1 {
        width: 822px;
        height: 128px;
        color: var(--white-100);
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 16px;
        line-height: 72px;
    }

    h3 {
        width: 389px;
        height: 54px;
        color: var(--white-100);
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 35px;
    }

    button {
        width: 227px;
        height: 60px;
        background-color: var(--pink-500);
        outline: none;
        border: none;
        border-radius: 5px;

        h4 {
            color: var(--white-100);
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
        }
    }
}

.categoryContainer {
    padding: 34px 86px;
    display: flex;
    width: 100%;
    justify-content: space-between;



    .categoryContainer__card {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__active {
            @extend .categoryContainer__card;

            div {
                background-color: var(--white-100) !important;
            }

            h5 {
                color: var(--pink-500) !important;
            }
        }

        div {
            width: 128px;
            height: 128px;
            background: var(--gray-100);
            box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.13);
            border-radius: 10px;
            margin-bottom: 22px;

            img {
                margin-top: 34px;
                margin-left: 33px;
            }
        }

        h5 {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            font-style: normal;
            color: var(--gray-650);
        }
    }
}

.relacionadosContainer {

    .relacionadosContainer__title {
        width: 1138px;
        height: 45px;
        display: flex;
        align-items: center;
        margin: 0 151px;

        h2 {
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            color: var(--pink-500);
            margin: 0 34px;
        }

        hr {
            width: 360px;
            height: 0px;
            border: 0.5px solid var(--gray-250);
        }
    }

    .relacionadosContainer__nav {
        width: 1264px;
        height: 40px;
        display: flex;
        margin-left: 86px;
        margin-right: 90px;
        margin-bottom: 17px;

        div {
            flex: 1;
            height: 40px;
            border: 1px solid var(--gray-300);
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
                text-transform: uppercase;
                color: var(--gray-800);
            }
        }
    }

    .cardContainer {
        width: 100%;
        height: 500px;
        position: relative;
        margin-bottom: 26px;

        .cardContainer__main {
            width: 1266px;
            height: 500px;
            margin: 0 auto;
            display: flex;
            gap: 62px;

            .cardContainer__main__card {
                width: 270px;
                height: 500px;
                box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.22);
                border-radius: 10px;
                padding-top: 17px;
                padding-bottom: 16px;
                padding-left: 11px;
                padding-right: 12px;

                .cardContainer__main__card__content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    img {
                        width: 240px;
                        height: 240px;
                        margin-bottom: 4px;
                    }

                    div {
                        flex-grow: 1;

                        p:nth-of-type(1) {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 22px;
                            color: var(--gray-700);
                            margin-bottom: 12px;
                        }

                        h6 {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: var(--gray-600);
                            text-decoration: line-through;
                            margin-bottom: 2px;
                        }

                        h5 {
                            font-size: 20px;
                            line-height: 30px;
                            font-weight: 700;
                            color: var(--gray-700);
                            margin-bottom: 2px;
                        }

                        p:nth-of-type(2) {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            color: var(--gray-700);
                            margin-bottom: 7px;
                        }

                        p:nth-of-type(3) {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            color: var(--pink-500);
                        }
                    }

                    button {
                        width: 100%;
                        height: 44px;
                        border-radius: 4px;
                        border: none;
                        outline: none;
                        background-color: var(--pink-500);
                        color: var(--white-100);
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}